<div  style="padding: 0px 5px 0px 5px">
    <div class="panel panel-primary" style="font-size: 25px">
        <div class="panel-heading">
            <span ng-if="editable && nested">
                <button type="button" class="btn btn-default" ng-click="vm.addTopic()"><i class="fa fa-plus"></i> Add a Sub-topic</button>
                <button type="button" class="btn btn-danger" ng-click="vm.deleteThisTopic()"><i class="fa fa-trash fa-trash-o"></i>Destroy</button>
                <br><br>
                <!--                <span style="text-align: right" ng-if="vm.topic.subTopics.length != 0">
                                    <button ng-if="!vm.expanded" ng-click="vm.expand()">+</button>
                                    <button ng-if="vm.expanded" ng-click="vm.shrink()">-</button>
                                </span>-->
            </span>

            <span>
                <input ng-if="editable && nested" style="color: black" ng-model="vm.topic.name">
                <strong ng-if="!editable || !nested" style="color: white">
                    {{vm.topic.name}}
                </strong>

                <span ng-if="vm.priority">
                    *
                </span>
            </span>
            <br>
            <br>
            <span ng-if="vm.topic.subTopics.length != 0">
                <button type="button" class="btn btn-default" ng-if="!vm.expanded" ng-click="vm.expand()"><i class="fa fa-plus-circle"></i> Expand</button>
                <button type="button" class="btn btn-default" ng-if="vm.expanded" ng-click="vm.shrink()"><i class="fa fa-minus-circle"></i>Show Less</button>
            </span>
            <button type="button" class="btn btn-default" ng-if="nested" ng-click="vm.openLinks()"><i class="fa fa-globe"></i>View Links</button>
            <button type="button" class="btn btn-default" ng-if="nested && !vm.priority" ng-click="vm.togglePriority()"><i class="fa fa-check-circle"></i>Select From Path</button>
            <button type="button" class="btn btn-default" ng-if="nested && vm.priority" ng-click="vm.togglePriority()"><i class="fa fa-arrow-circle-o-left"></i>View Full Path</button>
        </div>
        <div class="panel-body" ng-if="vm.displayed != undefined">

            <table style="width: 100%">
                <tr>
                    <td ng-repeat="x in vm.displayed" style="vertical-align:top">
                <topic-dir topic="x" editable="editable" on-delete="vm.deleteSubTopic(name)" prioritize="vm.prioritize(priority,name)" nested="true"></topic-dir>
                </td>
                </tr>
            </table>
        </div>
    </div>
</div>

